<main>
  {{> templates/nav}}
  <h1 class="heading">Carrinho</h1>
  {{#if noProducts}}
    <p class="text-center mt1rem">Nenhum produto no carrinho</p>
  {{else}}
    <div class="container mt1rem">
      {{#each products}}
        <div class="product box">
          <h2>{{product.title}}</h2>
          <p>Descrição: {{product.description}}</p>
          <p>Preço: {{product.price}}</p>
          <p>Categoria: {{product.category}}</p>
          <p>Código: {{product.code}}</p>
          <p>Quantidade: {{quantity}}</p>
          <button class="button remove-button" data-cart="{{../user.cart}}" data-product="{{product._id}}">{{> icons/delete}}</button>
        </div>
      {{/each}}
    </div>
    <div class="container mt1rem">
      <button class="button" data-cart="{{ user.cart }}" id="checkout">Finalizar compra</button>
    </div>
    <div class="container mt1rem" id="ticket">
    </div>
  {{/if}}
</main>
<script src="js/cart.js" defer></script>
